<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Step 3: Demographics</ion-title>
  </ion-navbar>
</ion-header>


               
<ion-content class="backgroundColor" padding>
  <center>
  <ion-title text-wrap>Your Voter Record Key is: 
    <span style="color:red">{{recordservice.getVoteRecordKey()}} </span></ion-title>
  </center>
  <ion-card>
    <ion-list-header text-wrap>Visit <b><u><span style="color:green">https://volunteer-dc.herokuapp.com</span></u></b> after the election to retrieve your vote information.
    </ion-list-header>
    <ion-list>

      <ion-item>
        <ion-label stacked>Sex:</ion-label>
        <ion-select text-wrap [(ngModel)]="enterSex" #item (change)="onChangeSex(enterSex)">
          <ion-option value="female">Female</ion-option>
          <ion-option value="male">Male</ion-option>
          <ion-option value="noAnswer">No Answer</ion-option>
        </ion-select> 
      </ion-item>

      <ion-item>
        <ion-label stacked>Age:</ion-label>
        <ion-select text-wrap [(ngModel)]="enterAge" #item (change)="onChangeAge(enterAge)">
          <ion-option value="18">18 - 24</ion-option>
          <ion-option value="25">25 - 35</ion-option>
          <ion-option value="36">36 - 45</ion-option>
          <ion-option value="46">46 - 55</ion-option>
          <ion-option value="56">56 - 66</ion-option>
          <ion-option value="67">67 +</ion-option>
        </ion-select> 
      </ion-item>

      <ion-item>
        <ion-label stacked>Ethnicity:</ion-label>
        <ion-select text-wrap multiple="true" [(ngModel)]="enterEthnicity" #item (change)="onChangeEthnicity(enterEthnicity)">
          <ion-option value="noAnswer">No Answer</ion-option>
          <ion-option value="americanIndian">American Indian or Alaska Native</ion-option>
          <ion-option value="asian">Asian</ion-option>
          <ion-option value="black">Black or African American</ion-option>
          <ion-option value="hispanic">Hispanic or Latino</ion-option>
          <ion-option value="pacificIslander">Native Hawaiian or Other Pacific Islander</ion-option>
          <ion-option value="white">White</ion-option>
        </ion-select> 
      </ion-item>
      <!--http://www.iowadatacenter.org/aboutdata/raceclassification-->

      <ion-item text-wrap>
        <ion-label stacked>Party Affiliation:</ion-label>
        <ion-select text-wrap [(ngModel)]="enterParty"  (change)="onChangeParty(enterParty)">
          <ion-option value="Independent">Independent</ion-option>
          <ion-option value="No Party Preference">No Party Preference</ion-option>
          <ion-option value="Democratic Party">Democratic Party</ion-option>
          <ion-option value="Green Party">Green Party</ion-option>
          <ion-option value="Republican Party">Republican Party</ion-option>
          <ion-option value="Other Party">Other Party</ion-option>
        </ion-select> 
      </ion-item>

      <ion-item *ngIf="enterParty=='Other Party'">
        <ion-label stacked>Please Write in Party Name:</ion-label>
        <ion-input type="text" [(ngModel)]="enterPartyWriteIn"  (change)="onChangePartyWriteIn(enterPartyWriteIn)"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked>Annual Income:</ion-label>
        <ion-select text-wrap [(ngModel)]="enterIncome" #item (change)="onChangeIncome(enterIncome)">
          <ion-option value="24">$24,000 or less</ion-option>
          <ion-option value="25">$25,000 - $50,000</ion-option>
          <ion-option value="51">$51,000 - $100,000</ion-option>
          <ion-option value="100">$100,001 - $250,000</ion-option>
          <ion-option value="200">$250,001 - $500,000</ion-option>
          <ion-option value="500">$500,001 - $1,000,000</ion-option>
          <ion-option value="1">$1,000,001 +</ion-option>
        </ion-select> 
      </ion-item>

      <ion-item text-wrap>
        <ion-label stacked>Education:</ion-label>
        <ion-select text-wrap [(ngModel)]="enterEducation" #item (change)="onChangeEducation(enterEducation)">
          <ion-option value="High School">High School</ion-option>
          <ion-option value="Undergraduate School">Undergraduate School</ion-option>
          <ion-option value="Graduate School">Graduate School</ion-option>
          <ion-option value="Post Graduate School">Post Graduate School</ion-option>
        </ion-select> 
      </ion-item>

      <ion-item text-wrap>
        <ion-label stacked>Marital Status:</ion-label>
        <ion-select text-wrap [(ngModel)]="enterMaritalStatus" #item (change)="onChangeMaritalStatus(enterMaritalStatus)">
          <ion-option value="Unmarried">Unmarried</ion-option>
          <ion-option value="Married">Married</ion-option>
        </ion-select> 
      </ion-item>


      <ion-item>
        <ion-label stacked>Naturalized Citizen?</ion-label>
        <ion-select text-wrap [(ngModel)]="enterNaturalizedCitizen" #item (change)="onChangeNaturalizedCitizen(enterNaturalizedCitizen)">
          <ion-option value=true>Yes</ion-option>
          <ion-option value=false>No</ion-option>
        </ion-select> 
      </ion-item>


      <ion-item *ngIf="enterNaturalizedCitizen=='true'">
        <ion-label stacked>Country of Origin?</ion-label>
        <!--<ion-input[(ngModel)]="enterCountryOfOrigin" #item (change)="onChangeCountryOfOrigin(enterCountryOfOrigin)"></ion-input>-->
        <ion-input type="text" [(ngModel)]="enterNaturalizedCitizenWriteIn" #item (change)="onChangeNaturalizedCitizenWriteIn(enterNaturalizedCitizenWriteIn)"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label stacked>First Time Voter?</ion-label>
        <ion-select text-wrap [(ngModel)]="enterFirstTimeVoter" #item (change)="onChangeFirstTimeVoter(enterFirstTimeVoter)">
          <ion-option value=true>Yes</ion-option>
          <ion-option value=false>No</ion-option>
        </ion-select> 
      </ion-item>


    </ion-list>

  </ion-card>  

  <button type="submit" (click)="onSubmit()" block large>
    Submit
  </button>

</ion-content>
