<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Activity Record</ion-title>
  </ion-navbar>
</ion-header>


               
               
        <ion-content padding>

            <ion-card *ngIf="initialized">
              <ion-list>
                <ion-list-header>Activity Record: {{currentVolunteer.fullName}}</ion-list-header>

                <ion-item>
                <ion-label>Total Individual Records: {{totalIndividualRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Individual Affidavit Records: {{totalIndividualAffidavitRecords}}</ion-label>
                 </ion-item>

                <ion-item>
                <ion-label>Total Individual Non-Voter Records: {{totalIndividualNonVoteRecords}}</ion-label>
                 </ion-item>

                <ion-item>
                <ion-label>Total Individual Vote Records: {{totalIndividualVoteRecords}}</ion-label>
                 </ion-item>

                <ion-item>
                <ion-label>Total Individual Demographics Records: {{totalIndividualDemographicsRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Individual Anomaly Records: {{totalIndividualAnomalyRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Individual Amendment Records: {{totalIndividualAmendmentRecords}}</ion-label>
                </ion-item>

              </ion-list>
            </ion-card>


	    <!--
            <ion-card>
              <ion-list>
                <ion-list-header>Activity Record: Team {{precinctNumber}} </ion-list-header>

                <ion-item>
                <ion-label>Total Team Records: {{totalTeamRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Team Affidavit Records: {{totalTeamAffidavitRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Team Non-Voter Records: {{totalTeamNonVoterRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Team Vote Records: {{totalTeamVoterRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Team Demographics Records: {{totalTeamDemographicsRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Team Anomaly Records: {{totalTeamAnomalyRecords}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Team Amendment Records: {{totalTeamAmendmentRecords}}</ion-label>
                </ion-item>

              </ion-list>
            </ion-card>
	    -->

            <ion-card *ngIf="initialized">
              <ion-list>
                <ion-list-header>Team Stats</ion-list-header>

                <ion-item>
                <ion-label>Total Registered Volunteers: {{totalRegisteredVolunteers}}</ion-label>
                </ion-item>

                <ion-item>
                <ion-label>Total Currently Active Volunteers: {{totalActiveVolunteers}}</ion-label>
                </ion-item>

              </ion-list>
            </ion-card>


	    <ion-card *ngIf="!initialized">
	      <ion-list-header text-wrap>Team Stats
	      </ion-list-header>
	      <ion-item text-wrap>
		<ion-label text-wrap>
		  You must login and authenticate and you must be at a polling station before this will show any data.
		</ion-label>
	      </ion-item>
	    </ion-card>

            <button type="button" (click)="onRefresh()" block large>
              Refresh
            </button>

	    <check-login></check-login>

      </ion-content>
