
<ion-header>
  <ion-navbar>
    <button [disabled]="!loggedIn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Check In Authentication</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-card>
 <ion-list>

    <ion-item>
     <ion-icon name="md-locate" item-right></ion-icon> 
     <ion-label stacked>Set Geolocation:</ion-label>
     <ion-input type="text" [(ngModel)]="geoLocation" (click)="onChangegeoLocation(geoLocation)"></ion-input>
     </ion-item>

    <ion-item text-wrap>

      <ion-checkbox [(ngModel)]="affirm" (click)="onChangeAffirmation(affirm)" ></ion-checkbox>

        <ion-label *ngIf="getChkBoxLabelState()==2" style="margin-bottom: 15px" stacked>I  affirm that {{volunteerservice.getNewVolunteer().fullName}} and I (the authenticating volunteer) are volunteering together at precinct {{pollingstationservice.getStation().precinctNumber}} in {{pollingstationservice.getStation().city}}, {{pollingstationservice.getStation().state}}.</ion-label>
        <ion-label *ngIf="chkBoxLabelState==0" style="margin-bottom: 15px" stacked>I  affirm that OTHER VOLUNTEER and I (the authenticating volunteer) are volunteering together.</ion-label>
        <ion-label *ngIf="chkBoxLabelState==1" style="margin-bottom: 15px" stacked>I  affirm that {{volunteerservice.getNewVolunteer().fullName}} and I (the authenticating volunteer) are volunteering together.</ion-label>

    </ion-item>

    <ion-item>
      <ion-label stacked>Authenticating Volunteer Key (NOT PHONE)#:</ion-label>
      <!-- style="-webkit-text-security:disc;" -->

      <ion-input type="tel" [(ngModel)]="authenticatingVolunteerKey" (change)="onChangeAuthenticatingVolunteerKey(authenticatingVolunteerKey)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Authenticating Volunteer Passcode:</ion-label>
      <ion-input type="password" [(ngModel)]="authenticatingVolunteerPasscode" (change)="onChangeAuthenticatingVolunteerPasscode(authenticatingVolunteerPasscode)"></ion-input>
    </ion-item>


</ion-list>
             
        </ion-card>

        <button type="submit" (click)="onSubmit()" block large>
         Submit 
         </button>

    <P style="color:red" *ngIf="errorMessage!=null">{{errorMessage}}</P>

</ion-content>
