<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Step 1: Affidavit</ion-title>
  </ion-navbar>
</ion-header>


               
        <ion-content padding>
        <ion-card>
        <ion-list>

  <ion-item>
    <ion-label stacked>Full Name:</ion-label>
    <ion-input [(ngModel)]="fullName" type="text" (change)="onChangeFullName(fullName)" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Address Number, Street Name and Unit Number (if applicable):</ion-label>
    <ion-input [(ngModel)]="addressNumName" (change)="onChangeAddress(addressNumName)" type="text"></ion-input>
  </ion-item>

    <ion-item>
    <ion-label stacked>Zip Code:</ion-label>
    <ion-input [(ngModel)]="zipCode" (change)="onChangeZipCode(zipCode)" type="text"></ion-input>
  </ion-item>

        </ion-list>
        </ion-card>

        <ion-card>
        <ion-list>

  <ion-item text-wrap>
    <ion-label style="margin-bottom: 15px" stacked>I<span *ngIf="fullName">,</span> {{fullName}}<span *ngIf="fullName">,</span> do hereby affirm that I participate voluntarily in the 2016 election audit being conducted by Democracy Counts and that I chose the same candidate(s) as I voted for in the election. I further affirm that any and all other questions I chose to answer herein are truthful.</ion-label>
    <ion-checkbox [(ngModel)]="signature" (click)="onChangeSignature(signature)" ></ion-checkbox>
  </ion-item>

        </ion-list>
        </ion-card>

        <ion-card>
        <ion-list>

  <ion-item>
     <ion-label stacked>*Comments: </ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

   <ion-item>
    <ion-label stacked>*Email:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>


   <ion-item>
     <ion-icon name="md-camera" item-right></ion-icon> 
     <ion-icon name="md-image" item-right></ion-icon>
    <ion-label stacked>*Photo Receipt: </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

        </ion-list>
        </ion-card>  

        <button type="submit" (click)="onSubmit()" block large>
         Submit 
         </button>

      </ion-content>
