<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div *ngIf="role=='registeredTeamLead'">
      <ion-title>Login: Existing Team Lead</ion-title>
    </div>
    <div *ngIf="role=='registeredVolunteer'">
      <ion-title>Login: Existing Volunteer</ion-title>
    </div>
    <div *ngIf="role=='checkingBackIn'">
      <ion-title>Login: Checking Back In</ion-title>
    </div>
  </ion-navbar>
</ion-header>


               
        <ion-content padding>
        <ion-card>
<!--
            <form name="signin" novalidate>
-->
<ion-list>

  <div *ngIf="(role=='registeredVolunteer')||(role=='registeredTeamLead')">
  <ion-item>
    <ion-label stacked>Team Lead Email:</ion-label>
    <ion-input [(ngModel)]="email" type="email" (change)="onChangeEmail(email)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Team Lead password:</ion-label>
    <ion-input [(ngModel)]="password" type="password" (change)="onChangePwd(password)"></ion-input>
  </ion-item>
  </div>
  <div *ngIf="(role=='registeredVolunteer')">
  <ion-item>
    <ion-label stacked>Volunteer Email:</ion-label>
    <ion-input [(ngModel)]="vol_email" type="email" (change)="onChangeVolEmail(vol_email)"></ion-input>
  </ion-item>
  </div>
  <button type="submit" (click)="onSubmit()" block large style="margin-top: 20px">Sign In</button>

</ion-list>
<!--
             </form>
-->
        </ion-card>  
    <div padding>
      <p *ngIf="dbError" class="error">{{ dbError }}</p>
    </div>
	</ion-content>
