<ion-header>
  <ion-navbar>
    <button [disabled]="!loggedIn" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>


               
               
        <ion-content class="backgroundColor" padding>


   <ion-card padding *ngIf=!emailWasSent>
   <ion-item text-wrap padding>Please enter the email address associated with your account. We will send you a one time passcode so that you can log in and reset.</ion-item>

   <form novaildate [formGroup]="resetForm">
    <!-- <ion-list-header>User Login</ion-list-header> -->
    <ion-list>
    <ion-item>
    <ion-label stacked>Email Address:</ion-label>
    <ion-input type="text" formControlName="enterEmailAddress"></ion-input>
    </ion-item>
    </ion-list>
    </form>
    

    <button type="submit" [disabled]="!resetForm.valid" (click)="onSubmitEmailOnly(resetForm.value)" block large>
    Submit
    </button>
     <p style="color:red" *ngIf="errorTextEmail">{{errorTextEmail}}</p>

    </ion-card>

<!-- Below for after email sent -->


        <ion-card padding *ngIf=emailWasSent>
        <form novaildate [formGroup]="resetWithCodeForm">
        <ion-list>

        <ion-item>
        <ion-label stacked>One Time Passcode:</ion-label>
        <ion-input type="password" formControlName="enterOneTimePasscode"></ion-input>
        </ion-item>


        <ion-item>
        <ion-label stacked>Create New Passcode:</ion-label>
        <ion-input type="password" formControlName="enterCreatePasscode"></ion-input>
        </ion-item>



        <ion-item>
        <ion-label stacked>Confirm New Passcode:</ion-label>
        <ion-input type="password" formControlName="enterConfirmPasscode"></ion-input>
        </ion-item>

    

        <button type="submit" [disabled]="!resetWithCodeForm.valid" (click)="onSubmitCodes(resetWithCodeForm.value)" block large>
        Submit
        </button>

        <p style="color:red" *ngIf="errorText">{{errorText}}</p>

        </ion-list>
        </form>
        </ion-card>

        </ion-content>