<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Step 2: Vote</ion-title>
  </ion-navbar>
</ion-header>


               
          <ion-content class="backgroundColor" padding>
        <ion-card>
        <ion-list>

        <ion-item>
        <ion-label stacked>How did you cast your vote in the general election?</ion-label>
        <ion-select text-wrap [(ngModel)]="presVoteCastBy" (change)="onChangePresVoteCastBy(presVoteCastBy)">
            <ion-option value="votingMachine">Voting Machine</ion-option>
            <ion-option value="voteByMail">Vote by Mail (returned at this location)</ion-option>
            <ion-option value="absentee">Absentee Ballot (returned at this location)</ion-option>
            <ion-option value="provisional">Provisional Ballot</ion-option>
            <ion-option value="paperBallot">Paper Ballot</ion-option>
        </ion-select>
        </ion-item>

        <ion-item text-wrap>
        <ion-label stacked>General Election Presidential Vote:</ion-label>
          <ovr-component [electThisOffice]=PRESIDENT></ovr-component>
       </ion-item>
       <ovr-component [electThisOffice]=PRESIDENT></ovr-component>


        </ion-list>
        </ion-card>

    <ion-card>
    <ion-list>

      <!--PRIMARY-->

    <ion-item text-wrap>
    <ion-label stacked>Did you vote in the primary election?</ion-label>
          <ion-select text-wrap [(ngModel)]="primarySuccess" #item (change)="onChangePrimarySuccess(primarySuccess)">
            <ion-option value="didVote">Yes, I did vote in the primary.</ion-option>
            <ion-option value="didNotVote">No, I did not vote in the primary.</ion-option>
            <ion-option value="couldNotVote">I tried but could not vote in the primary.</ion-option>
          </ion-select>
    </ion-item>

             <ion-item text-wrap  *ngIf!="(primaryPresVote=='didNotVote' || primaryPresVote=='dontRemember')">
    <ion-label stacked>Was this your primary polling location?</ion-label>
          <ion-select text-wrap [(ngModel)]="primaryLocation" #item (change)="onChangePrimaryLocation(primaryLocation)">
            <ion-option value="sameLocation">This polling station is where I voted (or attempted to vote) during the primary.</ion-option>
            <ion-option value="notSameLocation">I did not vote (or attempt to vote) at this polling station during the primary.</ion-option>
            <ion-option value="dontRemeber">I don't remember.</ion-option>
          </ion-select>
    </ion-item>

    <ion-item *ngIf!="(primaryPresVote=='didNotVote' || primaryPresVote=='couldNotVote' || primaryPresVote=='dontRemember')">
    <ion-label stacked>How did you cast your primary vote?</ion-label>
        <ion-select text-wrap [(ngModel)]="primaryPresVoteCastBy" (change)="onChangePrimaryPresVoteCastBy(primaryPresVoteCastBy)">
            <ion-option value="votingMachine">Voting Machine</ion-option>
            <ion-option value="voteByMail">Vote by Mail</ion-option>
            <ion-option value="absentee">Absentee Ballot</ion-option>
            <ion-option value="provisional">Provisional Ballot</ion-option>
            <ion-option value="paperBallot">Paper Ballot</ion-option>
            <ion-option value="dontRemember">I don't remember.</ion-option>
          </ion-select>
    </ion-item>

    <ion-item text-wrap>
    <ion-label stacked>Primary Election Presidential Vote:</ion-label>
          <ovr-component [electThisOffice]=PRIMARYPRES></ovr-component>
    </ion-item>

    <ion-item text-wrap *ngIf="inFlorida && (recordservice.getPrimarySuccess || recordservice.getPrimaryIntention)">
    <ion-label stacked>Primary Election Congressional Vote:</ion-label>
          <ovr-component [electThisOffice]=PRIMARYCONGRESS></ovr-component>
    </ion-item>





     <!-- Could not vote logic lines -->
        <ion-item  *ngIf="primaryPresVote=='couldNotVote'">
        <ion-label stacked>Reason for not being able to vote in the Primary:</ion-label>
        <ion-select text-wrap [(ngModel)]="reasonForCouldNotVotePrimary" (change)="onChangeReasonForCouldNotVotePrimary(reasonForCouldNotVotePrimary)">
            <ion-option value="registrationIncorrectlyChanged">My registration was incorrectly changed.</ion-option>
            <ion-option value="notRegisteredInTime">I did not register in time.</ion-option>
            <ion-option value="nameNotOnRole">My name was not on the voter role.</ion-option>
            <ion-option value="incorrectVBM">I was incorrectly designated as a VBM (vote by mail) voter.</ion-option>
            <ion-option value="noPollingLocation">There were no polling places close enough to my location.</ion-option>
            <ion-option value="noTimeOff">I couldn't get time off work.</ion-option>
            <ion-option value="inaccessableLocation">Polling location inaccessible due to long lines and/or insufficient parking.</ion-option>
            <ion-option value="otherReasonForCouldNotVotePrimary">Other</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="(primaryPresVote=='couldNotVote' && reasonForCouldNotVotePrimary=='otherReasonForCouldNotVotePrimary')">
        <ion-label stacked>Please explain why you could not vote in the primary:</ion-label>
        <ion-input type="text" [(ngModel)]="otherReasonForCouldNotVotePrimary" (change)="onChangeOtherReasonForCouldNotVotePrimary(otherReasonForCouldNotVotePrimary)"></ion-input>
        </ion-item>

    </ion-list>
    </ion-card>




   <ion-card>
    <ion-list>
<ion-list-header text-wrap>Please choose your ideal first, second and third choice for president. These choices do not have to match with who you officially voted for in the primary or general election, also they do not need to be chosen from candidates who are officially on the ballot.</ion-list-header> 
        

    <ion-item text-wrap>
    <ion-label stacked>Presidential First Choice:</ion-label>
          <ion-select text-wrap [(ngModel)]="firstPresVote"  (change)="onChangeFirstPresVote(firstPresVote)">
            <ion-option value="bernieSanders">Bernie Sanders</ion-option>
            <ion-option value="donaldTrump">Donald Trump</ion-option>
            <ion-option value="garyJohnson">Gary Johnson</ion-option>
            <ion-option value="hillaryClinton">Hillary Clinton</ion-option>
            <ion-option value="jillStein">Jill Stein</ion-option>
            <ion-option value="writeIn">Other</ion-option>
            <ion-option value="none">None</ion-option>
          </ion-select>
    </ion-item>

        <!-- Show line if they need to write in a candidate -->
        <ion-item *ngIf="firstPresVote=='writeIn'">
        <ion-label stacked>Please Write in Candidate Name:</ion-label>
        <ion-input type="text" [(ngModel)]="firstPresVoteWriteIn"  (change)="onChangeFirstPresVoteWriteIn(firstPresVoteWriteIn)"></ion-input>
        </ion-item>
        <!-- end--> 

    <ion-item>
    <ion-label stacked>Presidential Second Choice:</ion-label>
          <ion-select text-wrap [(ngModel)]="secondPresVote"  (change)="onChangeSecondPresVote(secondPresVote)">
            <ion-option value="bernieSanders">Bernie Sanders</ion-option>
            <ion-option value="donaldTrump">Donald Trump</ion-option>
            <ion-option value="garyJohnson">Gary Johnson</ion-option>
            <ion-option value="hillaryClinton">Hillary Clinton</ion-option>
            <ion-option value="jillStein">Jill Stein</ion-option>
            <ion-option value="writeIn">Other</ion-option>
            <ion-option value="none">None</ion-option>
          </ion-select>
    </ion-item>

        <!-- Show line if they need to write in a candidate -->
        <ion-item *ngIf="secondPresVote=='writeIn'">
        <ion-label stacked>Please Write in Candidate Name:</ion-label>
        <ion-input type="text" [(ngModel)]="secondPresVoteWriteIn"  (change)="onChangeSecondPresVoteWriteIn(secondPresVoteWriteIn)"></ion-input>
        </ion-item>
        <!-- end--> 

    <ion-item>
    <ion-label stacked>Presidential Third Choice:</ion-label>
          <ion-select text-wrap [(ngModel)]="thirdPresVote"  (change)="onChangeThirdPresVote(thirdPresVote)">
            <ion-option value="bernieSanders">Bernie Sanders</ion-option>
            <ion-option value="donaldTrump">Donald Trump</ion-option>
            <ion-option value="garyJohnson">Gary Johnson</ion-option>
            <ion-option value="hillaryClinton">Hillary Clinton</ion-option>
            <ion-option value="jillStein">Jill Stein</ion-option>
            <ion-option value="writeIn">Other</ion-option>
            <ion-option value="none">None</ion-option>
          </ion-select>
    </ion-item>

        <!-- Show line if they need to write in a candidate -->
        <ion-item *ngIf="thirdPresVote=='writeIn'">
        <ion-label stacked>Please Write in Candidate Name:</ion-label>
        <ion-input type="text" [(ngModel)]="thirdPresVoteWriteIn"  (change)="onChangeThirdPresVoteWriteIn(thirdPresVoteWriteIn)"></ion-input>
        </ion-item>
        <!-- end--> 

    </ion-list>
   </ion-card>

      <button type="submit" (click)="onSubmit()" block large>
      Submit
      </button>

      </ion-content>
