  
  <ion-item text-wrap>
      <ion-label stacked>Please Select Candidate for {{electThisOffice.office}}:</ion-label>
          <ion-select text-wrap [(ngModel)]="candidateChoice"  (change)="onChangeChoice(candidateChoice)">
            <ion-option *ngFor="let cand of electThisOffice.candidates" value="{{cand.value}}">{{cand.label}}</ion-option>
          </ion-select>
    </ion-item>

    <ion-item *ngIf="choosenCandidate=='26'">
        <ion-label stacked>Please Write in Candidate Name:</ion-label>
        <ion-input type="text" [(ngModel)]="candidateVoteWriteIn" (change)="onChangeCandidateVoteWriteIn(candidateVoteWriteIn)"></ion-input>
    </ion-item>

     <ion-item *ngIf="!choosenCandidate=='27'">
    <ion-label stacked>Level of Support:</ion-label>
            <ion-select text-wrap [(ngModel)]="los"  (change)="onChangeLos(los)">
            <ion-option value="highlySupport">Highly Support</ion-option>
            <ion-option value="moderatelySupport">Moderately Support</ion-option>
            <ion-option value="dislike">Dislike but dislike other candidate(s) more.</ion-option>
            </ion-select>
    </ion-item>
